{% extends 'registration/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card mt-4">

                <div class="card-body p-4">
                    <h5 class="mt-4">Check your inbox.</h5>
                    <p class="mt-4 mb-3"> We've emailed you instructions for setting your password. You should receive
                        the email
                        shortly!
                    </p>
                    <div class="mt-4 text-center">
                        <p class="mb-0">
                            <a href="{% url 'login' %}" class="fw-semibold text-primary text-decoration-underline">
                                Login
                            </a>
                        </p>
                    </div>

                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->


        </div>
    </div>
{% endblock %}
